.MyProjectsBlock{
    min-height: 100vh;
    /* background-color: darkseagreen; */
}
.myProjectsContainer{
    flex-direction: column;
}

.myProjects{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
   
   /* align-items: flex-start; */
}
.myProjectsItem{

}

@media screen and (max-width: 782px) {
    .myProjects {
        justify-content: center;
    }
}