.MyProjectsBlock{
    height: 100vh;
    background-color: darkseagreen;
    
}
.myProjectsContainer{
        flex-direction: column;
        /* align-items: center; */
    justify-content: space-between;
   
}

.myProjects{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    
}
.myProjectsItem{

}