.Header {
    height: 80px;
    background-color: aquamarine;
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */

}
.navContainer{
    justify-content: end;
    
    background-color:darkgrey;
}