.skillsBlock{
  min-height: 80vh;
    /* background-color: cornflowerblue; */
    background-color: var(--second-bg-color);
    /* background-color: var(--bg-color); */
}

.skillsContainer{
    /* align-items: flex-start; */
    flex-direction: column;
    justify-content: flex-start;

}

.skills{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}


@media screen and (max-width: 624px) {
    .skillsContainer{
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }
    .skills{
        /* justify-content: center; */
        justify-content: center;
    }
}