*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}
.App {
  color: #ededed;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  background-color: #081b29;
}


/* @font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
  font-family: "RalewayRegular"; 
  // адрес шрифта и тип 
  src: url("../fonts/RalewayRegular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  }  */