.nav {
  display: flex;
  justify-content: space-between; 
  max-width: 360px;
  width: 100%;
}
.nav a{
  color: #ededed;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s;
}

.nav a:hover,
.nav a.activeLink {
  color: #00abf0;
}
