.nav {
  display: flex;
  justify-content: space-between; 
  max-width: 360px;
  width: 100%;
}
.nav a{
  color: #ededed;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}

.nav a:hover,
.nav a.active {
  color: #00abf0;
}
/* 

@media screen and (max-width: 580px) {
  .nav{
      display: none;
  }
} */